.animation {
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__man {
    position: relative;
  }

}
